<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ./partials/templates/head.ejs %>
</head>
<body>
    <div id="react"></div>



</body>
<% include ./partials/templates/analytics.ejs %>
<% include ./partials/templates/jsDefaults.ejs %>

<script>
    $(document).ready(function() {
        initNavbar();
    });
</script>
</html>
